.schedule-button {
    background-color: #3498db;
    color: #fff;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.schedule-button:hover {
    background-color: #2980b9;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
